.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calendar-display-container{
  margin: 100px;
  margin-top: 36px;
}

.calendar-display, .days-of-the-week{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  .day-display{
    border:solid black 1px;
    user-select: none;
    cursor:pointer;
    height: 120px;
    padding: 10px;
    &.toggled{
      background: #546fa5;
    }
  }
}

.days-of-the-week{
  justify-items: center;
  margin:20px;
}

.hero-comp-container{
  display: grid;
  font-size: 24px;
}

.calendar-title, .calendar-description{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 36px;
  font-weight: 600;
}

.calendar-description{
  margin-bottom: 36px;
}

.hide-print{
  display: none;
}